localization:

  image: ubuntu:noble

  only:
    - schedules

  script:
    - export DEBIAN_FRONTEND=noninteractive
    - apt-get update && apt-get install -y qt6-base-dev qt6-l10n-tools git wget
    - git config --global user.email "Lukas@photoqt.org"
    - git config --global user.name "Lukas Spies"
    - git clone https://luspi:${LANG_ACCESS_TOKEN}@gitlab.com/lspies/photoqt-lang.git && cd photoqt-lang
    - /usr/lib/qt6/bin/lupdate -no-obsolete ../qml/ ../cplusplus/ -ts photoqt-qt6.ts
    - git add photoqt-qt6.ts
    - git diff-index --quiet HEAD || git commit -m "updating translation source files from CI - Qt6 version"
    - git push

appimage:

  image: ubuntu:jammy

  only:
    - schedules

  script:
    - export DEBIAN_FRONTEND=noninteractive
    - apt-get update -qq && apt-get -y install git build-essential libgl1-mesa-dev cmake wget extra-cmake-modules apt-transport-https curl software-properties-common wget file
    - echo "deb http://archive.neon.kde.org/user jammy main" | tee /etc/apt/sources.list.d/neon.list # add Neon PPA
    - wget -qO - http://archive.neon.kde.org/public.key | apt-key add -
    - apt-get update -qq && apt-get -y upgrade
    - apt-get -y install qt6-base-dev qt6-positioning-dev qt6-image-formats-plugins qt6-image-formats-plugin-pdf libqt6svg6-dev libqt6chartsqml6 qml6-module-qt-labs-platform qml6-module-qtcharts qml6-module-qtcore qml6-module-qtmultimedia qml6-module-qtpositioning qml6-module-qtqml qml6-module-qtquick-controls qml6-module-qtquick-layouts qml6-module-qtquick-window qt6-multimedia-dev qml6-module-qtqml-workerscript qml6-module-qtquick-templates qml6-module-qtquick-dialogs qt6-tools-dev qt6-l10n-tools qt6-tools-dev-tools qt6-pdf-dev qml6-module-qtlocation
    - apt-get -y install libarchive-dev libraw-dev libfreeimage-dev libfreeimageplus-dev libdevil-dev libpugixml-dev gstreamer1.0-tools libexiv2-dev libmpv-dev python-is-python3 python3-pychromecast python3-requests ffmpegthumbnailer gstreamer1.0-libav libopenh264-6 libzxingcore-dev libdjvulibre-dev libheif-dev libjxl-dev liblqr-1-0-dev libopenexr-dev libopenjp2-7-dev libraqm-dev libwebp-dev libxml2-dev libzip-dev libbz2-dev libgraphviz-dev libyaml-cpp-dev libqca-qt6-2-dev libwayland-dev
    - cd ..
    - git clone https://github.com/ImageMagick/ImageMagick  # Install up-to-date ImageMagick
    - cd ImageMagick
    - git checkout $(git describe --tags --abbrev=0)
    - ./configure --prefix=/usr --with-bzlib --with-fontconfig --with-freetype=yes --with-gslib --with-gvc --with-jpeg --with-png --with-tiff --with-xml --with-gs-font-dir --enable-hdri --disable-docs
    - make -j$(nproc) install
    - cd ..
    - git clone https://github.com/Wunkolo/libsai # Install libsai
    - mkdir -p libsai/build && cd libsai/build
    - cmake .. -DBUILD_SHARED_LIBS=ON -DCMAKE_INSTALL_PREFIX=/usr
    - make -j$(nproc) install
    - cd ../..
    - git clone https://gitlab.com/lspies/photoqt-extensions    # Install extensions
    - mkdir -p photoqt-extensions/build
    - cd photoqt-extensions/build
    - cmake .. -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/usr/lib/x86_64-linux-gnu/PhotoQt/extensions -DWITH_GRAPHICSMAGICK=OFF -DWITH_IMAGEMAGICK=ON
    - make DESTDIR=../../photoqt/appdir -j$(nproc) install
    - cd ../../photoqt # build and install PhotoQt
    - export QT_SELECT=qt6
    - rm -rf lang/
    - git clone -b l10n_master https://gitlab.com/lspies/photoqt-lang
    - mv photoqt-lang/localized lang
    - cd build/
    - cmake .. -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/usr -DWITH_EXIV2=ON -DWITH_GRAPHICSMAGICK=OFF -DWITH_IMAGEMAGICK=ON -DWITH_CHROMECAST=ON -DWITH_VIDEO_QT=ON -DWITH_POPPLER=OFF -DWITH_QTPDF=ON -DWITH_EXIV2_ENABLE_BMFF=ON -DWITH_RESVG=OFF -DWITH_MOTIONPHOTO=ON -DWITH_ZXING=ON -DWITH_LCMS2=ON -DWITH_LOCATION=ON -DWITH_LIBVIPS=OFF -DWITH_WAYLANDSPECIFIC=ON -DWITH_APPIMAGEBUILD=ON -DWITH_EXTENSIONS_SUPPORT=ON -DWITH_LIBSAI=ON
    - make DESTDIR=../appdir -j$(nproc) install
    - cd ../
    - wget -c https://github.com/linuxdeploy/linuxdeploy/releases/download/continuous/linuxdeploy-x86_64.AppImage
    - wget -c https://github.com/linuxdeploy/linuxdeploy-plugin-qt/releases/download/continuous/linuxdeploy-plugin-qt-x86_64.AppImage
    - chmod a+x *.AppImage
    - ./linuxdeploy-plugin-qt-x86_64.AppImage --appimage-extract
    - ./linuxdeploy-x86_64.AppImage --appimage-extract
    - rm ./linuxdeploy-plugin-qt-x86_64.AppImage
    - cp /usr/bin/qmake6 /usr/bin/qmake # This file is needed for appimage build to succeed
    - export EXTRA_PLATFORM_PLUGINS=libqwayland-generic.so
    - export EXTRA_QT_MODULES="waylandcompositor;svg"
    - LD_LIBRARY_PATH=appdir/usr/lib QML_SOURCES_PATHS=./qml ./squashfs-root/AppRun --appdir ./appdir/ --plugin=qt --output appimage
    - cp -r /usr/lib/x86_64-linux-gnu/qca-qt6/crypto/ ./appdir/usr/plugins/   # This makes QCA plugins available
    - cp -r /usr/lib/x86_64-linux-gnu/qt6/qml/QtCharts/ ./appdir/usr/qml/   # This makes sure that QtCharts is available
    - LD_LIBRARY_PATH=appdir/usr/lib QML_SOURCES_PATHS=./qml ./squashfs-root/AppRun --appdir ./appdir/ --plugin=qt --output appimage # rebuild appimage to pick up changes above
    - mv PhotoQt*.AppImage PhotoQt-nightly.AppImage

  artifacts:
    paths:
      - PhotoQt-nightly.AppImage


releaseappimage:

  image: ubuntu:jammy

  only:
    - tags

  script:
    - export DEBIAN_FRONTEND=noninteractive
    - apt-get update -qq && apt-get -y install git build-essential libgl1-mesa-dev cmake wget extra-cmake-modules apt-transport-https curl software-properties-common wget file
    - echo "deb http://archive.neon.kde.org/user jammy main" | tee /etc/apt/sources.list.d/neon.list # add Neon PPA
    - wget -qO - http://archive.neon.kde.org/public.key | apt-key add -
    - apt-get update -qq && apt-get -y upgrade
    - apt-get -y install qt6-base-dev qt6-positioning-dev qt6-image-formats-plugins qt6-image-formats-plugin-pdf libqt6svg6-dev libqt6chartsqml6 qml6-module-qt-labs-platform qml6-module-qtcharts qml6-module-qtcore qml6-module-qtmultimedia qml6-module-qtpositioning qml6-module-qtqml qml6-module-qtquick-controls qml6-module-qtquick-layouts qml6-module-qtquick-window qt6-multimedia-dev qml6-module-qtqml-workerscript qml6-module-qtquick-templates qml6-module-qtquick-dialogs qt6-tools-dev qt6-l10n-tools qt6-tools-dev-tools qt6-pdf-dev qml6-module-qtlocation
    - apt-get -y install libarchive-dev libraw-dev libfreeimage-dev libfreeimageplus-dev libdevil-dev libpugixml-dev gstreamer1.0-tools libexiv2-dev libmpv-dev python-is-python3 python3-pychromecast python3-requests ffmpegthumbnailer gstreamer1.0-libav libopenh264-6 libzxingcore-dev libdjvulibre-dev libheif-dev libjxl-dev liblqr-1-0-dev libopenexr-dev libopenjp2-7-dev libraqm-dev libwebp-dev libxml2-dev libzip-dev libbz2-dev libgraphviz-dev libyaml-cpp-dev libqca-qt6-2-dev libwayland-dev
    - cd ..
    - git clone https://github.com/ImageMagick/ImageMagick  # Install up-to-date ImageMagick
    - cd ImageMagick
    - git checkout $(git describe --tags --abbrev=0)
    - ./configure --prefix=/usr --with-bzlib --with-fontconfig --with-freetype=yes --with-gslib --with-gvc --with-jpeg --with-png --with-tiff --with-xml --with-gs-font-dir --enable-hdri --disable-docs
    - make -j$(nproc) install
    - cd ..
    - git clone https://github.com/Wunkolo/libsai # Install libsai
    - mkdir -p libsai/build && cd libsai/build
    - cmake .. -DBUILD_SHARED_LIBS=ON -DCMAKE_INSTALL_PREFIX=/usr
    - make -j$(nproc) install
    - cd ../..
    - git clone https://gitlab.com/lspies/photoqt-extensions    # Install extensions
    - mkdir -p photoqt-extensions/build
    - cd photoqt-extensions/build
    - cmake .. -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/usr/lib/x86_64-linux-gnu/PhotoQt/extensions -DWITH_GRAPHICSMAGICK=OFF -DWITH_IMAGEMAGICK=ON
    - make DESTDIR=../../photoqt/appdir -j$(nproc) install
    - cd ../../photoqt # build and install PhotoQt
    - export QT_SELECT=qt6
    - mkdir -p build && cd build/
    - cmake .. -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/usr -DWITH_EXIV2=ON -DWITH_GRAPHICSMAGICK=OFF -DWITH_IMAGEMAGICK=ON -DWITH_CHROMECAST=ON -DWITH_VIDEO_QT=ON -DWITH_POPPLER=OFF -DWITH_QTPDF=ON -DWITH_EXIV2_ENABLE_BMFF=ON -DWITH_RESVG=OFF -DWITH_MOTIONPHOTO=ON -DWITH_ZXING=ON -DWITH_LCMS2=ON -DWITH_LOCATION=ON -DWITH_LIBVIPS=OFF -DWITH_WAYLANDSPECIFIC=ON -DWITH_EXTENSIONS_SUPPORT=ON -DWITH_APPIMAGEBUILD=ON -DWITH_LIBSAI=ON
    - make DESTDIR=../appdir -j$(nproc) install
    - cd ../
    - wget -c https://github.com/linuxdeploy/linuxdeploy/releases/download/continuous/linuxdeploy-x86_64.AppImage
    - wget -c https://github.com/linuxdeploy/linuxdeploy-plugin-qt/releases/download/continuous/linuxdeploy-plugin-qt-x86_64.AppImage
    - chmod a+x *.AppImage
    - ./linuxdeploy-plugin-qt-x86_64.AppImage --appimage-extract
    - ./linuxdeploy-x86_64.AppImage --appimage-extract
    - rm ./linuxdeploy-plugin-qt-x86_64.AppImage
    - cp /usr/bin/qmake6 /usr/bin/qmake # This file is needed for appimage build to succeed
    - export EXTRA_PLATFORM_PLUGINS=libqwayland-generic.so
    - export EXTRA_QT_MODULES="waylandcompositor;svg"
    - LD_LIBRARY_PATH=appdir/usr/lib QML_SOURCES_PATHS=./qml ./squashfs-root/AppRun --appdir ./appdir/ --plugin=qt --output appimage
    - cp -r /usr/lib/x86_64-linux-gnu/qca-qt6/crypto/ ./appdir/usr/plugins/   # This makes QCA plugins available
    - cp -r /usr/lib/x86_64-linux-gnu/qt6/qml/QtCharts/ ./appdir/usr/qml/   # This makes sure that QtCharts is available
    - LD_LIBRARY_PATH=appdir/usr/lib QML_SOURCES_PATHS=./qml ./squashfs-root/AppRun --appdir ./appdir/ --plugin=qt --output appimage # rebuild appimage to pick up changes above
    - mv PhotoQt*.AppImage PhotoQt-latesttag.AppImage

  artifacts:
    paths:
      - PhotoQt-latesttag.AppImage


