bionic:

  image: ubuntu:bionic

  only:
    - master

  script:
    - echo "${CI_PROJECT_URL}/-/jobs/artifacts/${CI_COMMIT_REF_NAME}/raw/QtQuickApp-x86_64.AppImage?job=${CI_JOB_NAME}"
    - apt-get update -qq
    - apt-get -y install git software-properties-common build-essential libgl1-mesa-dev cmake wget extra-cmake-modules
    - apt-get -y install qt5-default qtbase5-dev qtdeclarative5-dev libqt5svg5-dev qttools5-dev qttools5-dev-tools libarchive-dev libexiv2-dev libraw-dev libfreeimage-dev libdevil-dev graphicsmagick-libmagick-dev-compat libfreeimageplus-dev qml-module-qtquick-controls qml-module-qtmultimedia
    - mkdir -p build && cd build/
    - cmake .. -DCMAKE_BUILD_TYPE=Release - -DCMAKE_INSTALL_PREFIX=/usr -DPOPPLER=OFF
    - make -j$(nproc)
    - make DESTDIR=../appdir -j$(nproc) install ; find ../appdir/
    - cd -
    - wget -c "https://github.com/probonopd/linuxdeployqt/releases/download/continuous/linuxdeployqt-continuous-x86_64.AppImage"
    - chmod a+x linuxdeployqt*.AppImage ; ./linuxdeployqt-*.AppImage --appimage-extract ; rm linuxdeployqt*.AppImage
    - unset QTDIR; unset QT_PLUGIN_PATH ; unset LD_LIBRARY_PATH
#    - ./squashfs-root/AppRun ./appdir/usr/share/applications/*.desktop -bundle-non-qt-libs
    - ./squashfs-root/AppRun ./appdir/usr/share/applications/*.desktop -appimage -qmldir=./qml
    - find ./appdir -executable -type f -exec ldd {} \; | grep " => /usr" | cut -d " " -f 2-3 | sort | uniq # fyi
    - ./*.AppImage --appimage-updateinformation # fyi

  artifacts:
    paths:
      - "*.AppImage*"
