IDI_ICON1               ICON    DISCARDABLE     "img/other/icon.ico"
IDI_ICON2               ICON    DISCARDABLE     "img/filetypes/3fr.ico"
IDI_ICON3               ICON    DISCARDABLE     "img/filetypes/7z.ico"
IDI_ICON4               ICON    DISCARDABLE     "img/filetypes/aai.ico"
IDI_ICON5               ICON    DISCARDABLE     "img/filetypes/amv.ico"
IDI_ICON6               ICON    DISCARDABLE     "img/filetypes/apng.ico"
IDI_ICON7               ICON    DISCARDABLE     "img/filetypes/ari.ico"
IDI_ICON8               ICON    DISCARDABLE     "img/filetypes/art.ico"
IDI_ICON9               ICON    DISCARDABLE     "img/filetypes/arw.ico"
IDI_ICON10               ICON    DISCARDABLE     "img/filetypes/asf.ico"
IDI_ICON11               ICON    DISCARDABLE     "img/filetypes/avi.ico"
IDI_ICON12               ICON    DISCARDABLE     "img/filetypes/avif.ico"
IDI_ICON13               ICON    DISCARDABLE     "img/filetypes/avifs.ico"
IDI_ICON14               ICON    DISCARDABLE     "img/filetypes/avs.ico"
IDI_ICON15               ICON    DISCARDABLE     "img/filetypes/x.ico"
IDI_ICON16               ICON    DISCARDABLE     "img/filetypes/mbfavs.ico"
IDI_ICON17               ICON    DISCARDABLE     "img/filetypes/bay.ico"
IDI_ICON18               ICON    DISCARDABLE     "img/filetypes/bmp.ico"
IDI_ICON19               ICON    DISCARDABLE     "img/filetypes/bpg.ico"
IDI_ICON20               ICON    DISCARDABLE     "img/filetypes/cals.ico"
IDI_ICON21               ICON    DISCARDABLE     "img/filetypes/ct1.ico"
IDI_ICON22               ICON    DISCARDABLE     "img/filetypes/ct2.ico"
IDI_ICON23               ICON    DISCARDABLE     "img/filetypes/ct3.ico"
IDI_ICON24               ICON    DISCARDABLE     "img/filetypes/ct4.ico"
IDI_ICON25               ICON    DISCARDABLE     "img/filetypes/c4.ico"
IDI_ICON26               ICON    DISCARDABLE     "img/filetypes/cal.ico"
IDI_ICON27               ICON    DISCARDABLE     "img/filetypes/nif.ico"
IDI_ICON28               ICON    DISCARDABLE     "img/filetypes/ras.ico"
IDI_ICON29               ICON    DISCARDABLE     "img/filetypes/cap.ico"
IDI_ICON30               ICON    DISCARDABLE     "img/filetypes/eip.ico"
IDI_ICON31               ICON    DISCARDABLE     "img/filetypes/liq.ico"
IDI_ICON32               ICON    DISCARDABLE     "img/filetypes/cb7.ico"
IDI_ICON33               ICON    DISCARDABLE     "img/filetypes/cbr.ico"
IDI_ICON34               ICON    DISCARDABLE     "img/filetypes/cbt.ico"
IDI_ICON35               ICON    DISCARDABLE     "img/filetypes/cbz.ico"
IDI_ICON36               ICON    DISCARDABLE     "img/filetypes/cg3.ico"
IDI_ICON37               ICON    DISCARDABLE     "img/filetypes/g3.ico"
IDI_ICON38               ICON    DISCARDABLE     "img/filetypes/cgm.ico"
IDI_ICON39               ICON    DISCARDABLE     "img/filetypes/crw.ico"
IDI_ICON40               ICON    DISCARDABLE     "img/filetypes/crr.ico"
IDI_ICON41               ICON    DISCARDABLE     "img/filetypes/cr2.ico"
IDI_ICON42               ICON    DISCARDABLE     "img/filetypes/cr3.ico"
IDI_ICON43               ICON    DISCARDABLE     "img/filetypes/cube.ico"
IDI_ICON44               ICON    DISCARDABLE     "img/filetypes/cur.ico"
IDI_ICON45               ICON    DISCARDABLE     "img/filetypes/cut.ico"
IDI_ICON46               ICON    DISCARDABLE     "img/filetypes/pal.ico"
IDI_ICON47               ICON    DISCARDABLE     "img/filetypes/pic.ico"
IDI_ICON48               ICON    DISCARDABLE     "img/filetypes/dcr.ico"
IDI_ICON49               ICON    DISCARDABLE     "img/filetypes/kdc.ico"
IDI_ICON50               ICON    DISCARDABLE     "img/filetypes/drf.ico"
IDI_ICON51               ICON    DISCARDABLE     "img/filetypes/k25.ico"
IDI_ICON52               ICON    DISCARDABLE     "img/filetypes/dcs.ico"
IDI_ICON53               ICON    DISCARDABLE     "img/filetypes/dcx.ico"
IDI_ICON54               ICON    DISCARDABLE     "img/filetypes/dds.ico"
IDI_ICON55               ICON    DISCARDABLE     "img/filetypes/dib.ico"
IDI_ICON56               ICON    DISCARDABLE     "img/filetypes/dic.ico"
IDI_ICON57               ICON    DISCARDABLE     "img/filetypes/dcm.ico"
IDI_ICON58               ICON    DISCARDABLE     "img/filetypes/djvu.ico"
IDI_ICON59               ICON    DISCARDABLE     "img/filetypes/djv.ico"
IDI_ICON60               ICON    DISCARDABLE     "img/filetypes/dng.ico"
IDI_ICON61               ICON    DISCARDABLE     "img/filetypes/dpx.ico"
IDI_ICON62               ICON    DISCARDABLE     "img/filetypes/epi.ico"
IDI_ICON63               ICON    DISCARDABLE     "img/filetypes/eps.ico"
IDI_ICON64               ICON    DISCARDABLE     "img/filetypes/epsf.ico"
IDI_ICON65               ICON    DISCARDABLE     "img/filetypes/epsi.ico"
IDI_ICON66               ICON    DISCARDABLE     "img/filetypes/ept.ico"
IDI_ICON67               ICON    DISCARDABLE     "img/filetypes/erf.ico"
IDI_ICON68               ICON    DISCARDABLE     "img/filetypes/exr.ico"
IDI_ICON69               ICON    DISCARDABLE     "img/filetypes/ff.ico"
IDI_ICON70               ICON    DISCARDABLE     "img/filetypes/fig.ico"
IDI_ICON71               ICON    DISCARDABLE     "img/filetypes/fits.ico"
IDI_ICON72               ICON    DISCARDABLE     "img/filetypes/fit.ico"
IDI_ICON73               ICON    DISCARDABLE     "img/filetypes/fts.ico"
IDI_ICON74               ICON    DISCARDABLE     "img/filetypes/fl32.ico"
IDI_ICON75               ICON    DISCARDABLE     "img/filetypes/flif.ico"
IDI_ICON76               ICON    DISCARDABLE     "img/filetypes/flv.ico"
IDI_ICON77               ICON    DISCARDABLE     "img/filetypes/f4v.ico"
IDI_ICON78               ICON    DISCARDABLE     "img/filetypes/fpx.ico"
IDI_ICON79               ICON    DISCARDABLE     "img/filetypes/ftx.ico"
IDI_ICON80               ICON    DISCARDABLE     "img/filetypes/gif.ico"
IDI_ICON81               ICON    DISCARDABLE     "img/filetypes/gpr.ico"
IDI_ICON82               ICON    DISCARDABLE     "img/filetypes/gv.ico"
IDI_ICON83               ICON    DISCARDABLE     "img/filetypes/heif.ico"
IDI_ICON84               ICON    DISCARDABLE     "img/filetypes/heic.ico"
IDI_ICON85               ICON    DISCARDABLE     "img/filetypes/hrz.ico"
IDI_ICON86               ICON    DISCARDABLE     "img/filetypes/icns.ico"
IDI_ICON87               ICON    DISCARDABLE     "img/filetypes/ico.ico"
IDI_ICON88               ICON    DISCARDABLE     "img/filetypes/iff.ico"
IDI_ICON89               ICON    DISCARDABLE     "img/filetypes/jbig.ico"
IDI_ICON90               ICON    DISCARDABLE     "img/filetypes/jbg.ico"
IDI_ICON91               ICON    DISCARDABLE     "img/filetypes/bie.ico"
IDI_ICON92               ICON    DISCARDABLE     "img/filetypes/jng.ico"
IDI_ICON93               ICON    DISCARDABLE     "img/filetypes/jpeg.ico"
IDI_ICON94               ICON    DISCARDABLE     "img/filetypes/jpg.ico"
IDI_ICON95               ICON    DISCARDABLE     "img/filetypes/jpe.ico"
IDI_ICON96               ICON    DISCARDABLE     "img/filetypes/jif.ico"
IDI_ICON97               ICON    DISCARDABLE     "img/filetypes/jpeg2000.ico"
IDI_ICON98               ICON    DISCARDABLE     "img/filetypes/j2k.ico"
IDI_ICON99               ICON    DISCARDABLE     "img/filetypes/jp2.ico"
IDI_ICON100               ICON    DISCARDABLE     "img/filetypes/jpc.ico"
IDI_ICON101               ICON    DISCARDABLE     "img/filetypes/jpx.ico"
IDI_ICON102               ICON    DISCARDABLE     "img/filetypes/jxl.ico"
IDI_ICON103               ICON    DISCARDABLE     "img/filetypes/jxr.ico"
IDI_ICON104               ICON    DISCARDABLE     "img/filetypes/hdp.ico"
IDI_ICON105               ICON    DISCARDABLE     "img/filetypes/wdp.ico"
IDI_ICON106               ICON    DISCARDABLE     "img/filetypes/koa.ico"
IDI_ICON107               ICON    DISCARDABLE     "img/filetypes/gg.ico"
IDI_ICON108               ICON    DISCARDABLE     "img/filetypes/gig.ico"
IDI_ICON109               ICON    DISCARDABLE     "img/filetypes/kla.ico"
IDI_ICON110               ICON    DISCARDABLE     "img/filetypes/kra.ico"
IDI_ICON111               ICON    DISCARDABLE     "img/filetypes/lbm.ico"
IDI_ICON112               ICON    DISCARDABLE     "img/filetypes/mat.ico"
IDI_ICON113               ICON    DISCARDABLE     "img/filetypes/mdc.ico"
IDI_ICON114               ICON    DISCARDABLE     "img/filetypes/mef.ico"
IDI_ICON115               ICON    DISCARDABLE     "img/filetypes/miff.ico"
IDI_ICON116               ICON    DISCARDABLE     "img/filetypes/mif.ico"
IDI_ICON117               ICON    DISCARDABLE     "img/filetypes/mkv.ico"
IDI_ICON118               ICON    DISCARDABLE     "img/filetypes/mng.ico"
IDI_ICON119               ICON    DISCARDABLE     "img/filetypes/mos.ico"
IDI_ICON120               ICON    DISCARDABLE     "img/filetypes/mov.ico"
IDI_ICON121               ICON    DISCARDABLE     "img/filetypes/qt.ico"
IDI_ICON122               ICON    DISCARDABLE     "img/filetypes/mpc.ico"
IDI_ICON123               ICON    DISCARDABLE     "img/filetypes/mpeg.ico"
IDI_ICON124               ICON    DISCARDABLE     "img/filetypes/3g2.ico"
IDI_ICON125               ICON    DISCARDABLE     "img/filetypes/3gp.ico"
IDI_ICON126               ICON    DISCARDABLE     "img/filetypes/m2v.ico"
IDI_ICON127               ICON    DISCARDABLE     "img/filetypes/m4v.ico"
IDI_ICON128               ICON    DISCARDABLE     "img/filetypes/mp4.ico"
IDI_ICON129               ICON    DISCARDABLE     "img/filetypes/mpg.ico"
IDI_ICON130               ICON    DISCARDABLE     "img/filetypes/mpv.ico"
IDI_ICON131               ICON    DISCARDABLE     "img/filetypes/mtv.ico"
IDI_ICON132               ICON    DISCARDABLE     "img/filetypes/pic.ico"
IDI_ICON133               ICON    DISCARDABLE     "img/filetypes/mvg.ico"
IDI_ICON134               ICON    DISCARDABLE     "img/filetypes/nef.ico"
IDI_ICON135               ICON    DISCARDABLE     "img/filetypes/nrw.ico"
IDI_ICON136               ICON    DISCARDABLE     "img/filetypes/ogg.ico"
IDI_ICON137               ICON    DISCARDABLE     "img/filetypes/ogv.ico"
IDI_ICON138               ICON    DISCARDABLE     "img/filetypes/ora.ico"
IDI_ICON139               ICON    DISCARDABLE     "img/filetypes/orf.ico"
IDI_ICON140               ICON    DISCARDABLE     "img/filetypes/otb.ico"
IDI_ICON141               ICON    DISCARDABLE     "img/filetypes/p7.ico"
IDI_ICON142               ICON    DISCARDABLE     "img/filetypes/palm.ico"
IDI_ICON143               ICON    DISCARDABLE     "img/filetypes/pam.ico"
IDI_ICON144               ICON    DISCARDABLE     "img/filetypes/pbm.ico"
IDI_ICON145               ICON    DISCARDABLE     "img/filetypes/pcd.ico"
IDI_ICON146               ICON    DISCARDABLE     "img/filetypes/pcds.ico"
IDI_ICON147               ICON    DISCARDABLE     "img/filetypes/pcx.ico"
IDI_ICON148               ICON    DISCARDABLE     "img/filetypes/pdb.ico"
IDI_ICON149               ICON    DISCARDABLE     "img/filetypes/pdf.ico"
IDI_ICON150               ICON    DISCARDABLE     "img/filetypes/pef.ico"
IDI_ICON151               ICON    DISCARDABLE     "img/filetypes/ptx.ico"
IDI_ICON152               ICON    DISCARDABLE     "img/filetypes/pes.ico"
IDI_ICON153               ICON    DISCARDABLE     "img/filetypes/pfm.ico"
IDI_ICON154               ICON    DISCARDABLE     "img/filetypes/pgm.ico"
IDI_ICON155               ICON    DISCARDABLE     "img/filetypes/phm.ico"
IDI_ICON156               ICON    DISCARDABLE     "img/filetypes/pic.ico"
IDI_ICON157               ICON    DISCARDABLE     "img/filetypes/picon.ico"
IDI_ICON158               ICON    DISCARDABLE     "img/filetypes/pict.ico"
IDI_ICON159               ICON    DISCARDABLE     "img/filetypes/pct.ico"
IDI_ICON160               ICON    DISCARDABLE     "img/filetypes/pic.ico"
IDI_ICON161               ICON    DISCARDABLE     "img/filetypes/pix.ico"
IDI_ICON162               ICON    DISCARDABLE     "img/filetypes/als.ico"
IDI_ICON163               ICON    DISCARDABLE     "img/filetypes/png.ico"
IDI_ICON164               ICON    DISCARDABLE     "img/filetypes/ppm.ico"
IDI_ICON165               ICON    DISCARDABLE     "img/filetypes/pnm.ico"
IDI_ICON166               ICON    DISCARDABLE     "img/filetypes/ps.ico"
IDI_ICON167               ICON    DISCARDABLE     "img/filetypes/ps2.ico"
IDI_ICON168               ICON    DISCARDABLE     "img/filetypes/ps3.ico"
IDI_ICON169               ICON    DISCARDABLE     "img/filetypes/psd.ico"
IDI_ICON170               ICON    DISCARDABLE     "img/filetypes/psb.ico"
IDI_ICON171               ICON    DISCARDABLE     "img/filetypes/ptiff.ico"
IDI_ICON172               ICON    DISCARDABLE     "img/filetypes/ptif.ico"
IDI_ICON173               ICON    DISCARDABLE     "img/filetypes/pxn.ico"
IDI_ICON174               ICON    DISCARDABLE     "img/filetypes/raf.ico"
IDI_ICON175               ICON    DISCARDABLE     "img/filetypes/rar.ico"
IDI_ICON176               ICON    DISCARDABLE     "img/filetypes/raw.ico"
IDI_ICON177               ICON    DISCARDABLE     "img/filetypes/rwl.ico"
IDI_ICON178               ICON    DISCARDABLE     "img/filetypes/rgba.ico"
IDI_ICON179               ICON    DISCARDABLE     "img/filetypes/rgb.ico"
IDI_ICON180               ICON    DISCARDABLE     "img/filetypes/sgi.ico"
IDI_ICON181               ICON    DISCARDABLE     "img/filetypes/bw.ico"
IDI_ICON182               ICON    DISCARDABLE     "img/filetypes/rgbe.ico"
IDI_ICON183               ICON    DISCARDABLE     "img/filetypes/hdr.ico"
IDI_ICON184               ICON    DISCARDABLE     "img/filetypes/rad.ico"
IDI_ICON185               ICON    DISCARDABLE     "img/filetypes/rgf.ico"
IDI_ICON186               ICON    DISCARDABLE     "img/filetypes/rla.ico"
IDI_ICON187               ICON    DISCARDABLE     "img/filetypes/rle.ico"
IDI_ICON188               ICON    DISCARDABLE     "img/filetypes/rw2.ico"
IDI_ICON189               ICON    DISCARDABLE     "img/filetypes/sct.ico"
IDI_ICON190               ICON    DISCARDABLE     "img/filetypes/ch.ico"
IDI_ICON191               ICON    DISCARDABLE     "img/filetypes/ct.ico"
IDI_ICON192               ICON    DISCARDABLE     "img/filetypes/sfw.ico"
IDI_ICON193               ICON    DISCARDABLE     "img/filetypes/alb.ico"
IDI_ICON194               ICON    DISCARDABLE     "img/filetypes/pwm.ico"
IDI_ICON195               ICON    DISCARDABLE     "img/filetypes/pwp.ico"
IDI_ICON196               ICON    DISCARDABLE     "img/filetypes/sid.ico"
IDI_ICON197               ICON    DISCARDABLE     "img/filetypes/srf.ico"
IDI_ICON198               ICON    DISCARDABLE     "img/filetypes/mrw.ico"
IDI_ICON199               ICON    DISCARDABLE     "img/filetypes/sr2.ico"
IDI_ICON200               ICON    DISCARDABLE     "img/filetypes/srw.ico"
IDI_ICON201               ICON    DISCARDABLE     "img/filetypes/sun.ico"
IDI_ICON202               ICON    DISCARDABLE     "img/filetypes/ras.ico"
IDI_ICON203               ICON    DISCARDABLE     "img/filetypes/sr.ico"
IDI_ICON204               ICON    DISCARDABLE     "img/filetypes/im1.ico"
IDI_ICON205               ICON    DISCARDABLE     "img/filetypes/im24.ico"
IDI_ICON206               ICON    DISCARDABLE     "img/filetypes/im32.ico"
IDI_ICON207               ICON    DISCARDABLE     "img/filetypes/im8.ico"
IDI_ICON208               ICON    DISCARDABLE     "img/filetypes/rast.ico"
IDI_ICON209               ICON    DISCARDABLE     "img/filetypes/rs.ico"
IDI_ICON210               ICON    DISCARDABLE     "img/filetypes/scr.ico"
IDI_ICON211               ICON    DISCARDABLE     "img/filetypes/svg.ico"
IDI_ICON212               ICON    DISCARDABLE     "img/filetypes/svgz.ico"
IDI_ICON213               ICON    DISCARDABLE     "img/filetypes/tar.ico"
IDI_ICON214               ICON    DISCARDABLE     "img/filetypes/tga.ico"
IDI_ICON215               ICON    DISCARDABLE     "img/filetypes/icb.ico"
IDI_ICON216               ICON    DISCARDABLE     "img/filetypes/vda.ico"
IDI_ICON217               ICON    DISCARDABLE     "img/filetypes/vst.ico"
IDI_ICON218               ICON    DISCARDABLE     "img/filetypes/tiff.ico"
IDI_ICON219               ICON    DISCARDABLE     "img/filetypes/tif.ico"
IDI_ICON220               ICON    DISCARDABLE     "img/filetypes/tim.ico"
IDI_ICON221               ICON    DISCARDABLE     "img/filetypes/ttf.ico"
IDI_ICON222               ICON    DISCARDABLE     "img/filetypes/vicar.ico"
IDI_ICON223               ICON    DISCARDABLE     "img/filetypes/vic.ico"
IDI_ICON224               ICON    DISCARDABLE     "img/filetypes/img.ico"
IDI_ICON225               ICON    DISCARDABLE     "img/filetypes/viff.ico"
IDI_ICON226               ICON    DISCARDABLE     "img/filetypes/xv.ico"
IDI_ICON227               ICON    DISCARDABLE     "img/filetypes/vob.ico"
IDI_ICON228               ICON    DISCARDABLE     "img/filetypes/vtf.ico"
IDI_ICON229               ICON    DISCARDABLE     "img/filetypes/wbmp.ico"
IDI_ICON230               ICON    DISCARDABLE     "img/filetypes/webm.ico"
IDI_ICON231               ICON    DISCARDABLE     "img/filetypes/webp.ico"
IDI_ICON232               ICON    DISCARDABLE     "img/filetypes/wmf.ico"
IDI_ICON233               ICON    DISCARDABLE     "img/filetypes/wmz.ico"
IDI_ICON234               ICON    DISCARDABLE     "img/filetypes/apm.ico"
IDI_ICON235               ICON    DISCARDABLE     "img/filetypes/wpg.ico"
IDI_ICON236               ICON    DISCARDABLE     "img/filetypes/xbm.ico"
IDI_ICON237               ICON    DISCARDABLE     "img/filetypes/bm.ico"
IDI_ICON238               ICON    DISCARDABLE     "img/filetypes/xcf.ico"
IDI_ICON239               ICON    DISCARDABLE     "img/filetypes/xpm.ico"
IDI_ICON240               ICON    DISCARDABLE     "img/filetypes/pm.ico"
IDI_ICON241               ICON    DISCARDABLE     "img/filetypes/xwd.ico"
IDI_ICON242               ICON    DISCARDABLE     "img/filetypes/zip.ico"
IDI_ICON243               ICON    DISCARDABLE     "img/filetypes/unknown.ico"
