IDI_ICON1               ICON    DISCARDABLE     "windows/icon.ico"
2               ICON    DISCARDABLE     "img/filetypes/3fr.ico"
3               ICON    DISCARDABLE     "img/filetypes/7z.ico"
4               ICON    DISCARDABLE     "img/filetypes/aai.ico"
5               ICON    DISCARDABLE     "img/filetypes/amv.ico"
6               ICON    DISCARDABLE     "img/filetypes/apng.ico"
7               ICON    DISCARDABLE     "img/filetypes/ari.ico"
8               ICON    DISCARDABLE     "img/filetypes/art.ico"
9               ICON    DISCARDABLE     "img/filetypes/arw.ico"
10               ICON    DISCARDABLE     "img/filetypes/asf.ico"
11               ICON    DISCARDABLE     "img/filetypes/avi.ico"
12               ICON    DISCARDABLE     "img/filetypes/avif.ico"
13               ICON    DISCARDABLE     "img/filetypes/avifs.ico"
14               ICON    DISCARDABLE     "img/filetypes/avs.ico"
15               ICON    DISCARDABLE     "img/filetypes/x.ico"
16               ICON    DISCARDABLE     "img/filetypes/mbfavs.ico"
17               ICON    DISCARDABLE     "img/filetypes/bay.ico"
18               ICON    DISCARDABLE     "img/filetypes/bmp.ico"
19               ICON    DISCARDABLE     "img/filetypes/bpg.ico"
20               ICON    DISCARDABLE     "img/filetypes/cals.ico"
21               ICON    DISCARDABLE     "img/filetypes/ct1.ico"
22               ICON    DISCARDABLE     "img/filetypes/ct2.ico"
23               ICON    DISCARDABLE     "img/filetypes/ct3.ico"
24               ICON    DISCARDABLE     "img/filetypes/ct4.ico"
25               ICON    DISCARDABLE     "img/filetypes/c4.ico"
26               ICON    DISCARDABLE     "img/filetypes/cal.ico"
27               ICON    DISCARDABLE     "img/filetypes/nif.ico"
28               ICON    DISCARDABLE     "img/filetypes/ras.ico"
29               ICON    DISCARDABLE     "img/filetypes/cap.ico"
30               ICON    DISCARDABLE     "img/filetypes/eip.ico"
31               ICON    DISCARDABLE     "img/filetypes/liq.ico"
32               ICON    DISCARDABLE     "img/filetypes/cb7.ico"
33               ICON    DISCARDABLE     "img/filetypes/cbr.ico"
34               ICON    DISCARDABLE     "img/filetypes/cbt.ico"
35               ICON    DISCARDABLE     "img/filetypes/cbz.ico"
36               ICON    DISCARDABLE     "img/filetypes/cg3.ico"
37               ICON    DISCARDABLE     "img/filetypes/g3.ico"
38               ICON    DISCARDABLE     "img/filetypes/cgm.ico"
39               ICON    DISCARDABLE     "img/filetypes/crw.ico"
40               ICON    DISCARDABLE     "img/filetypes/crr.ico"
41               ICON    DISCARDABLE     "img/filetypes/cr2.ico"
42               ICON    DISCARDABLE     "img/filetypes/cr3.ico"
43               ICON    DISCARDABLE     "img/filetypes/cube.ico"
44               ICON    DISCARDABLE     "img/filetypes/cur.ico"
45               ICON    DISCARDABLE     "img/filetypes/cut.ico"
46               ICON    DISCARDABLE     "img/filetypes/pal.ico"
47               ICON    DISCARDABLE     "img/filetypes/pic.ico"
48               ICON    DISCARDABLE     "img/filetypes/dcr.ico"
49               ICON    DISCARDABLE     "img/filetypes/kdc.ico"
50               ICON    DISCARDABLE     "img/filetypes/drf.ico"
51               ICON    DISCARDABLE     "img/filetypes/k25.ico"
52               ICON    DISCARDABLE     "img/filetypes/dcs.ico"
53               ICON    DISCARDABLE     "img/filetypes/dcx.ico"
54               ICON    DISCARDABLE     "img/filetypes/dds.ico"
55               ICON    DISCARDABLE     "img/filetypes/dib.ico"
56               ICON    DISCARDABLE     "img/filetypes/dic.ico"
57               ICON    DISCARDABLE     "img/filetypes/dcm.ico"
58               ICON    DISCARDABLE     "img/filetypes/djvu.ico"
59               ICON    DISCARDABLE     "img/filetypes/djv.ico"
60               ICON    DISCARDABLE     "img/filetypes/dng.ico"
61               ICON    DISCARDABLE     "img/filetypes/dpx.ico"
62               ICON    DISCARDABLE     "img/filetypes/epi.ico"
63               ICON    DISCARDABLE     "img/filetypes/eps.ico"
64               ICON    DISCARDABLE     "img/filetypes/epsf.ico"
65               ICON    DISCARDABLE     "img/filetypes/epsi.ico"
66               ICON    DISCARDABLE     "img/filetypes/ept.ico"
67               ICON    DISCARDABLE     "img/filetypes/erf.ico"
68               ICON    DISCARDABLE     "img/filetypes/exr.ico"
69               ICON    DISCARDABLE     "img/filetypes/ff.ico"
70               ICON    DISCARDABLE     "img/filetypes/fig.ico"
71               ICON    DISCARDABLE     "img/filetypes/fits.ico"
72               ICON    DISCARDABLE     "img/filetypes/fit.ico"
73               ICON    DISCARDABLE     "img/filetypes/fts.ico"
74               ICON    DISCARDABLE     "img/filetypes/fl32.ico"
75               ICON    DISCARDABLE     "img/filetypes/flif.ico"
76               ICON    DISCARDABLE     "img/filetypes/flv.ico"
77               ICON    DISCARDABLE     "img/filetypes/f4v.ico"
78               ICON    DISCARDABLE     "img/filetypes/fpx.ico"
79               ICON    DISCARDABLE     "img/filetypes/ftx.ico"
80               ICON    DISCARDABLE     "img/filetypes/gif.ico"
81               ICON    DISCARDABLE     "img/filetypes/gpr.ico"
82               ICON    DISCARDABLE     "img/filetypes/gv.ico"
83               ICON    DISCARDABLE     "img/filetypes/heif.ico"
84               ICON    DISCARDABLE     "img/filetypes/heic.ico"
85               ICON    DISCARDABLE     "img/filetypes/hrz.ico"
86               ICON    DISCARDABLE     "img/filetypes/icns.ico"
87               ICON    DISCARDABLE     "img/filetypes/ico.ico"
88               ICON    DISCARDABLE     "img/filetypes/iff.ico"
89               ICON    DISCARDABLE     "img/filetypes/jbig.ico"
90               ICON    DISCARDABLE     "img/filetypes/jbg.ico"
91               ICON    DISCARDABLE     "img/filetypes/bie.ico"
92               ICON    DISCARDABLE     "img/filetypes/jng.ico"
93               ICON    DISCARDABLE     "img/filetypes/jpeg.ico"
94               ICON    DISCARDABLE     "img/filetypes/jpg.ico"
95               ICON    DISCARDABLE     "img/filetypes/jpe.ico"
96               ICON    DISCARDABLE     "img/filetypes/jif.ico"
97               ICON    DISCARDABLE     "img/filetypes/jpeg2000.ico"
98               ICON    DISCARDABLE     "img/filetypes/j2k.ico"
99               ICON    DISCARDABLE     "img/filetypes/jp2.ico"
100               ICON    DISCARDABLE     "img/filetypes/jpc.ico"
101               ICON    DISCARDABLE     "img/filetypes/jpx.ico"
102               ICON    DISCARDABLE     "img/filetypes/jxl.ico"
103               ICON    DISCARDABLE     "img/filetypes/jxr.ico"
104               ICON    DISCARDABLE     "img/filetypes/hdp.ico"
105               ICON    DISCARDABLE     "img/filetypes/wdp.ico"
106               ICON    DISCARDABLE     "img/filetypes/koa.ico"
107               ICON    DISCARDABLE     "img/filetypes/gg.ico"
108               ICON    DISCARDABLE     "img/filetypes/gig.ico"
109               ICON    DISCARDABLE     "img/filetypes/kla.ico"
110               ICON    DISCARDABLE     "img/filetypes/kra.ico"
111               ICON    DISCARDABLE     "img/filetypes/lbm.ico"
112               ICON    DISCARDABLE     "img/filetypes/mat.ico"
113               ICON    DISCARDABLE     "img/filetypes/mdc.ico"
114               ICON    DISCARDABLE     "img/filetypes/mef.ico"
115               ICON    DISCARDABLE     "img/filetypes/miff.ico"
116               ICON    DISCARDABLE     "img/filetypes/mif.ico"
117               ICON    DISCARDABLE     "img/filetypes/mkv.ico"
118               ICON    DISCARDABLE     "img/filetypes/mng.ico"
119               ICON    DISCARDABLE     "img/filetypes/mos.ico"
120               ICON    DISCARDABLE     "img/filetypes/mov.ico"
121               ICON    DISCARDABLE     "img/filetypes/qt.ico"
122               ICON    DISCARDABLE     "img/filetypes/mpc.ico"
123               ICON    DISCARDABLE     "img/filetypes/mpeg.ico"
124               ICON    DISCARDABLE     "img/filetypes/3g2.ico"
125               ICON    DISCARDABLE     "img/filetypes/3gp.ico"
126               ICON    DISCARDABLE     "img/filetypes/m2v.ico"
127               ICON    DISCARDABLE     "img/filetypes/m4v.ico"
128               ICON    DISCARDABLE     "img/filetypes/mp4.ico"
129               ICON    DISCARDABLE     "img/filetypes/mpg.ico"
130               ICON    DISCARDABLE     "img/filetypes/mpv.ico"
131               ICON    DISCARDABLE     "img/filetypes/mtv.ico"
132               ICON    DISCARDABLE     "img/filetypes/pic.ico"
133               ICON    DISCARDABLE     "img/filetypes/mvg.ico"
134               ICON    DISCARDABLE     "img/filetypes/nef.ico"
135               ICON    DISCARDABLE     "img/filetypes/nrw.ico"
136               ICON    DISCARDABLE     "img/filetypes/ogg.ico"
137               ICON    DISCARDABLE     "img/filetypes/ogv.ico"
138               ICON    DISCARDABLE     "img/filetypes/ora.ico"
139               ICON    DISCARDABLE     "img/filetypes/orf.ico"
140               ICON    DISCARDABLE     "img/filetypes/otb.ico"
141               ICON    DISCARDABLE     "img/filetypes/p7.ico"
142               ICON    DISCARDABLE     "img/filetypes/palm.ico"
143               ICON    DISCARDABLE     "img/filetypes/pam.ico"
144               ICON    DISCARDABLE     "img/filetypes/pbm.ico"
145               ICON    DISCARDABLE     "img/filetypes/pcd.ico"
146               ICON    DISCARDABLE     "img/filetypes/pcds.ico"
147               ICON    DISCARDABLE     "img/filetypes/pcx.ico"
148               ICON    DISCARDABLE     "img/filetypes/pdb.ico"
149               ICON    DISCARDABLE     "img/filetypes/pdf.ico"
150               ICON    DISCARDABLE     "img/filetypes/pef.ico"
151               ICON    DISCARDABLE     "img/filetypes/ptx.ico"
152               ICON    DISCARDABLE     "img/filetypes/pes.ico"
153               ICON    DISCARDABLE     "img/filetypes/pfm.ico"
154               ICON    DISCARDABLE     "img/filetypes/pgm.ico"
155               ICON    DISCARDABLE     "img/filetypes/phm.ico"
156               ICON    DISCARDABLE     "img/filetypes/pic.ico"
157               ICON    DISCARDABLE     "img/filetypes/picon.ico"
158               ICON    DISCARDABLE     "img/filetypes/pict.ico"
159               ICON    DISCARDABLE     "img/filetypes/pct.ico"
160               ICON    DISCARDABLE     "img/filetypes/pic.ico"
161               ICON    DISCARDABLE     "img/filetypes/pix.ico"
162               ICON    DISCARDABLE     "img/filetypes/als.ico"
163               ICON    DISCARDABLE     "img/filetypes/png.ico"
164               ICON    DISCARDABLE     "img/filetypes/ppm.ico"
165               ICON    DISCARDABLE     "img/filetypes/pnm.ico"
166               ICON    DISCARDABLE     "img/filetypes/ps.ico"
167               ICON    DISCARDABLE     "img/filetypes/ps2.ico"
168               ICON    DISCARDABLE     "img/filetypes/ps3.ico"
169               ICON    DISCARDABLE     "img/filetypes/psd.ico"
170               ICON    DISCARDABLE     "img/filetypes/psb.ico"
171               ICON    DISCARDABLE     "img/filetypes/ptiff.ico"
172               ICON    DISCARDABLE     "img/filetypes/ptif.ico"
173               ICON    DISCARDABLE     "img/filetypes/pxn.ico"
174               ICON    DISCARDABLE     "img/filetypes/raf.ico"
175               ICON    DISCARDABLE     "img/filetypes/rar.ico"
176               ICON    DISCARDABLE     "img/filetypes/raw.ico"
177               ICON    DISCARDABLE     "img/filetypes/rwl.ico"
178               ICON    DISCARDABLE     "img/filetypes/rgba.ico"
179               ICON    DISCARDABLE     "img/filetypes/rgb.ico"
180               ICON    DISCARDABLE     "img/filetypes/sgi.ico"
181               ICON    DISCARDABLE     "img/filetypes/bw.ico"
182               ICON    DISCARDABLE     "img/filetypes/rgbe.ico"
183               ICON    DISCARDABLE     "img/filetypes/hdr.ico"
184               ICON    DISCARDABLE     "img/filetypes/rad.ico"
185               ICON    DISCARDABLE     "img/filetypes/rgf.ico"
186               ICON    DISCARDABLE     "img/filetypes/rla.ico"
187               ICON    DISCARDABLE     "img/filetypes/rle.ico"
188               ICON    DISCARDABLE     "img/filetypes/rw2.ico"
189               ICON    DISCARDABLE     "img/filetypes/sct.ico"
190               ICON    DISCARDABLE     "img/filetypes/ch.ico"
191               ICON    DISCARDABLE     "img/filetypes/ct.ico"
192               ICON    DISCARDABLE     "img/filetypes/sfw.ico"
193               ICON    DISCARDABLE     "img/filetypes/alb.ico"
194               ICON    DISCARDABLE     "img/filetypes/pwm.ico"
195               ICON    DISCARDABLE     "img/filetypes/pwp.ico"
196               ICON    DISCARDABLE     "img/filetypes/sid.ico"
197               ICON    DISCARDABLE     "img/filetypes/srf.ico"
198               ICON    DISCARDABLE     "img/filetypes/mrw.ico"
199               ICON    DISCARDABLE     "img/filetypes/sr2.ico"
200               ICON    DISCARDABLE     "img/filetypes/srw.ico"
201               ICON    DISCARDABLE     "img/filetypes/sun.ico"
202               ICON    DISCARDABLE     "img/filetypes/ras.ico"
203               ICON    DISCARDABLE     "img/filetypes/sr.ico"
204               ICON    DISCARDABLE     "img/filetypes/im1.ico"
205               ICON    DISCARDABLE     "img/filetypes/im24.ico"
206               ICON    DISCARDABLE     "img/filetypes/im32.ico"
207               ICON    DISCARDABLE     "img/filetypes/im8.ico"
208               ICON    DISCARDABLE     "img/filetypes/rast.ico"
209               ICON    DISCARDABLE     "img/filetypes/rs.ico"
210               ICON    DISCARDABLE     "img/filetypes/scr.ico"
211               ICON    DISCARDABLE     "img/filetypes/svg.ico"
212               ICON    DISCARDABLE     "img/filetypes/svgz.ico"
213               ICON    DISCARDABLE     "img/filetypes/tar.ico"
214               ICON    DISCARDABLE     "img/filetypes/tga.ico"
215               ICON    DISCARDABLE     "img/filetypes/icb.ico"
216               ICON    DISCARDABLE     "img/filetypes/vda.ico"
217               ICON    DISCARDABLE     "img/filetypes/vst.ico"
218               ICON    DISCARDABLE     "img/filetypes/tiff.ico"
219               ICON    DISCARDABLE     "img/filetypes/tif.ico"
220               ICON    DISCARDABLE     "img/filetypes/tim.ico"
221               ICON    DISCARDABLE     "img/filetypes/ttf.ico"
222               ICON    DISCARDABLE     "img/filetypes/vicar.ico"
223               ICON    DISCARDABLE     "img/filetypes/vic.ico"
224               ICON    DISCARDABLE     "img/filetypes/img.ico"
225               ICON    DISCARDABLE     "img/filetypes/viff.ico"
226               ICON    DISCARDABLE     "img/filetypes/xv.ico"
227               ICON    DISCARDABLE     "img/filetypes/vob.ico"
228               ICON    DISCARDABLE     "img/filetypes/vtf.ico"
229               ICON    DISCARDABLE     "img/filetypes/wbmp.ico"
230               ICON    DISCARDABLE     "img/filetypes/webm.ico"
231               ICON    DISCARDABLE     "img/filetypes/webp.ico"
232               ICON    DISCARDABLE     "img/filetypes/wmf.ico"
233               ICON    DISCARDABLE     "img/filetypes/wmz.ico"
234               ICON    DISCARDABLE     "img/filetypes/apm.ico"
235               ICON    DISCARDABLE     "img/filetypes/wpg.ico"
236               ICON    DISCARDABLE     "img/filetypes/xbm.ico"
237               ICON    DISCARDABLE     "img/filetypes/bm.ico"
238               ICON    DISCARDABLE     "img/filetypes/xcf.ico"
239               ICON    DISCARDABLE     "img/filetypes/xpm.ico"
240               ICON    DISCARDABLE     "img/filetypes/pm.ico"
241               ICON    DISCARDABLE     "img/filetypes/xwd.ico"
242               ICON    DISCARDABLE     "img/filetypes/zip.ico"
243               ICON    DISCARDABLE     "img/filetypes/unknown.ico"
